<!-- navigation menu -->
<nav class="ui inverted menu">
  <div class="header item">
    <a href="index.html">Indoor Air Quality for Asthma Sufferers</a>
  </div>
  <ul>
    <li id="home" class="bold-txt"><a href="index.html">Home</a></li>
    <li id="proposal" class="bold-txt"><a href="project-details.html">Proposal</a></li>
    <li id="graphics" class="bold-txt"><a href="project-graphics-and-benchmarks.html">Graphics and Benchmarks</a></li>
    <li id="video" class="bold-txt"><a href="video.html">Video</a></li>
    <li id="git"><a href="https://github.com/sarahbarron/Asthma-Trigger-Monitor" target="_blank"><i
          class="big github icon"></i></a>
    </li>
  </ul>
</nav>
<!-- javascript adding the active class to the li of the active page -->
<script>
  document.querySelector("#<%= id %>").classList.add("active")
</script>