/* Student Name	: 	Sarah Barron
Student ID: 20013679
Course: Hdip Computer Science - Computer Systems and Networking - Assignment 2 - IoT's
Deployed website:	http://networking-iot-project.surge.sh/
Github:		https://github.com/sarahbarron/Asthma-Trigger-Monitor */

/* list of menu items set to relative */
nav ul li {
  position: relative;
  display: inline;
  padding: 0 20px;
}