/* Student Name	: 	Sarah Barron
Student ID: 20013679
Course: Hdip Computer Science - Computer Systems and Networking - Assignment 2 - IoT's
Deployed website:	http://networking-iot-project.surge.sh/
Github:		https://github.com/sarahbarron/Asthma-Trigger-Monitor */

/* Center Sections */

.center-section h2 {
    color: #08af5f;
    font-size: 30px;
}

hr {
    margin: 100px 0 50px 0;
}

/* center section paragraph font size */
.center-section p {
    font-size: 20px;
}

/* center section*/
.center-section {
    padding: 100px 50px 100px 50px;
}

/* Iframe */
iframe {
    width: 40vw;
    height: 50vh;
    border: 1px solid #cccccc;
    padding: 50px;
}