/* Student Name	: 	Sarah Barron
Student ID: 20013679
Course: Hdip Computer Science - Computer Systems and Networking - Assignment 2 - IoT's
Deployed website:	http://networking-iot-project.surge.sh/
Github:		https://github.com/sarahbarron/Asthma-Trigger-Monitor */


/* general css settings */

/* Remove overflow */
html,
body {
    overflow-x: hidden;

}

/* font and initial margin settings   */
body,
html {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* no decoration on any links  */
a {
    text-decoration: none;
}

/* h1 text in the header */
header h1 {
    font-size: 30px;
    color: black;
    padding: 0 0 0 50px;
}

/* general h1 settings */
h1 {
    font-size: 35px;
    padding: 50px;
    color: #08af5f;
}

/* Footer settings*/
footer {
    border-top: inset;
    background: black;
    color: white;
}

/* copyright paragraph in footer  */
footer p {
    text-align: center;
}

/* bold text */
.bold-txt {
    font-weight: bold;
}