<!-- 
Student Name	: 	Sarah Barron
Student ID: 20013679
Course: Hdip Computer Science - Computer Systems and Networking - Assignment 2 - IoT's
Deployed website:	http://networking-iot-project.surge.sh/
Github:		https://github.com/sarahbarron/Asthma-Trigger-Monitor 
-->
<!-- include the navigation menu -->
<%- include('./partials/_nav.ejs', {id : "video"}); %>
<section id="demovideo" class="center-section">
    <h1> Project Submission video </h1>
    <iframe src="https://www.youtube.com/embed/h9rR6T9mgMU" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>