<!-- footer with paragraph -->
<footer>
    <p>Sarah Barron - Hdip in Computer Science - Waterford Institute of Technology </p>
    <p>Computer Systems and Networking - Assignment 2 - IoT's</p>
    <p>e-mail: sarahflavin@yahoo.com </p>
</footer>